.mono {
  font-family: monospace;
  font-size: small;
}

.badge {
  min-width: 40px;
}

.dim {
  opacity: 0.3;
  font-size: xx-small;
  background-color: transparent;
  color: black;
}

ion-item {
  --min-height: unset;
}
