<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Logger </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()"
        ><ion-icon name="refresh-outline"></ion-icon
      ></ion-button>
      <ion-button (click)="clear()"
        ><ion-icon name="close-circle-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Logger</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-loglist [deviceIdentifier]="vm.deviceIdentifier" [actions]="vm.actions">
  </app-loglist>
</ion-content>
