<ion-header>
  <ion-toolbar>
    <ion-title>Devices</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="refresh()">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="cards">
    <ion-card
      (click)="setDevice(device)"
      [routerLink]="'./' + device.id + '/logs'"
      class="card"
      *ngFor="let device of devices"
    >
      <img
        width="100%"
        height="100px"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEUubrXV3FcaAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC"
      />
      <ion-card-header>
        <ion-card-subtitle>{{device.id}}</ion-card-subtitle>
        <ion-card-title>{{device.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{device.userAgent}} </ion-card-content>
    </ion-card>
  </div>
</ion-content>
